.app
    padding 57px 0

    &__title
        font-size (42/16)em
        font-weight 700
        text-align center
        margin-bottom 55px
        letter-spacing 1px
    
    &__car-form
        margin-bottom 126px

    @media tablet
        &__car-form
            margin-bottom 6px
    
    @media phone
        padding 20px 0 0
        &__title
            margin-bottom 30px
        &__car-form
            margin-bottom 25px