.input
    width 100%
    min-height em(40, 12)
    padding em(8) em(12)
    font-size em(12)
    line-height (18/12)
    outline none
    border-width 1px 1px 2px 1px 
    border-style solid 
    border-color $color-gray-light
    transition border-color 0.2s $easeOut

    &:hover
        border-bottom-color $color-red
    
    &:focus
        border-bottom-color $color-black
