// Colors
$color-background-light = #f5f6f6
$color-background-dark = #282d30

$color-gray-light = #dcdcdc
$color-gray = #999999
$color-balck-light = #282d30
$color-black = #111111

$color-red = #c4092f

// Transitions
$easeOut = cubic-bezier(0.215, 0.61, 0.355, 1)

// Media queries
phone = '(max-width: (em(719, 16)))'
tablet = '(max-width: (em(1023, 16)))'