html
    box-sizing border-box

html *
    box-sizing inherit
    &:before, &:after
        box-sizing inherit

html, body
    height 100%

body
    position relative
    min-width 320px
    font-family 'Roboto', sans-serif
    font-size em(15, 16)
    line-height 1.33
    color #282d30
    background-color #fff

    // IE 10+
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
        font-size 15px