// Colors
.h-c-white
    background-color #fff
.h-c-black
    background-color #000
.h-c-gray
    background-color #cbcbcc
.h-c-red
    background-color #d74345
.h-c-green
    background-color #88c504
            
// Align
.h-ta-r
    text-align right

.h-ta-c
    text-align center